docker
duckduckgo_search==3.9.3
langchain==0.0.325
openai==0.28.1
python-dotenv==1.0.0
pandas==1.4.1
matplotlib==3.5.1
numpy==1.22.3
regex==2022.3.2
requests==2.27.1
seaborn==0.11.2
scikt-learn==1.1.0
torch==1.11.0
tqdm==4.63.0
slack_sdk==3.23.0